<table id="table" class="table">
  <thead class="thead-light">
    <th>Banco Origem</th>
    <th>Ag Origem</th>
    <th>Conta de Origem</th>
    <th>Banco Destino</th>
    <th>Ag Destino</th>
    <th>Conta Destino</th>
    <th>Valor</th>
    <th>Data</th>
  </thead>
  <tbody>
    <% transactions.forEach(function (transaction) { %>
    <tr>
      <td><%= transaction.props.originBankName %></td>
      <td><%= transaction.props.originBankAgency %></td>
      <td><%= transaction.props.originBankNumber %></td>
      <td><%= transaction.props.destinyBankName %></td>
      <td><%= transaction.props.destinyBankAgency %></td>
      <td><%= transaction.props.destinyBankNumber %></td>
      <td><%= transaction.props.value %></td>
      <td><%= transaction.props.date %></td>
    </tr>
    <% });%>
  </tbody>
</table>
