<table id="table" class="table table-bordered mt-3 text-center">
  <thead class="thead-light">
    <tr>
      <th colspan="3">Origem</th>
      <th colspan="3">Destino</th>
      <th rowspan="2">Valor</th>
    </tr>
    <th>Banco</th>
    <th>Agência</th>
    <th>Conta</th>
    <th>Banco</th>
    <th>Agência</th>
    <th>Conta</th>
  </thead>
  <tbody>
    <% transactions.forEach(function (transaction) { %>
    <tr>
      <td><%= transaction.props.originBankName %></td>
      <td><%= transaction.props.originBankAgency %></td>
      <td><%= transaction.props.originBankNumber %></td>
      <td><%= transaction.props.destinyBankName %></td>
      <td><%= transaction.props.destinyBankAgency %></td>
      <td><%= transaction.props.destinyBankNumber %></td>
      <td><%= transaction.props.value %></td>
    </tr>
    <% });%>
  </tbody>
</table>
